.medium-article__content {
  word-wrap: break-word;
  font-weight: 400;
  color: #242424;
  word-break: break-word;
  font-family: source-serif-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: 2rem;
  line-height: 3.2rem;
  h2 {
    font-family: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}
