@use 'sass:list';
@use 'sass:math';
@import 'colors.scss';
@import 'normalize.css/normalize.css';

// $primary: dodgerblue;

$primary-d: 1rem;

@debug $primary-d; // Output the value of $primary-color to the console
@debug 1rem;
@mixin default-border {
  border: 1px+ 1px $primary-color dotted;
}

.top-header {
  // @include default-border;
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  overflow: hidden;
  border-bottom: solid 1px #f2f2f2;
  padding: 1em;

  .top-header__wrapper {
    display: flex;
    align-items: center;
  }

  nav {
    display: flex;
  }
}

// main {
// }
